@page
@model TableauWeb.Pdf.IndexModel

<div class="container-fluid">
    <a asp-page="/Tableaux/Index">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
    </a>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <table class="table table-hover table-striped">
            <tbody>
                @foreach (var item in Model.Tableaux)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dimension.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Finition.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomPdf)
                        </td>
                        <td>
                            <form method="post">
                                <div>
                                    <button class="btn ml-auto" asp-route-id="@item.TableauId"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Imprimer</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>