@page
@model TableauWeb.Tableaux.ShowModel

<div class="container-fluid">
    <a asp-page="Index">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
    </a>

    <form method="post">
        <div class="float-right">
            <button><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Imprimer</button>
        </div>
    </form>
</div>

<div class="container mb-5">
    <div class="row justify-content-md-center">
        <div class="card">
            <img src="@Model.Image.UrlAffichage" class="card-img-top rounded" alt="Card image cap" />
            <div class="card-body text-center">

                <h4 class="card-text justify-content-md-center">@Model.Image.Nom</h4>
                <h4 class="card-text justify-content-md-center">@Model.Tableau.Dimension.Nom (@Model.Tableau.Dimension.Hauteur x @Model.Tableau.Dimension.Largeur)</h4>
                <h4 class="card-text justify-content-md-center">@Model.Tableau.Finition.Nom</h4>
                <h4 class="card-text justify-content-md-center">@Model.Tableau.TexteImpressionAffichage</h4>
            </div>

            <input type="hidden" asp-for="TableauId" />
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}